{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur
{% endblock %}

{% block body %}
	<a href="{{ path('home') }}">Page d'accueil</a>
	<div>
		<div>
			<div>
				<h1>Hello
					{{ controller_name }}!</h1>

				{% if app.user is not null %}
					{% if app.user.photo is not null and app.user.photo|length > 0 %}
						<img src="{{ asset('uploads/' ~ app.user.photo) }}" alt="Photo de profil">
					{% else %}
						<p>Aucune photo de profil.</p>
					{% endif %}
					<p>Username :
						{{ app.user.username }}</p>
				{% else %}
					<p>Veuillez vous connecter pour voir votre profil.</p>
				{% endif %}
			</div>
		</div>
		<div>
			<div>
				<p>écrire ici sa bio</p>
			</div>

			<div>
				<a href="{{ path('profile_modifier') }}" class="btn-primary">Modifier le profil</a>
			</div>
		</div>
	</div>>
	<div>
		<p>Posts</p>
	</div>
	{% for post in posts %}
				<div>{{ post.userPost }}</div>
				<div>{{ post.post }}</div>
				<div>{{ post.createdAt|date('d/m/Y H:i') }}</div>
				<a href="{{ path('app_post_show', {'id': post.id}) }}">Voir plus</a>
				{% if app.user and post.userPost == app.user %}
					<a href="{{ path('app_post_edit', {'id': post.id}) }}">Modifier</a>
				{% endif %}
				<a href="{{ path('app_post_repost', {'id': post.id}) }}">Republier</a>

			{% endfor %}
{% endblock %}
