{% extends 'base.html.twig' %}
{% block title %}Profil Utilisateur
{% endblock %}

{% block body %}
	<a href="{{ path('home') }}">Page d'accueil</a>
	<a href="{{ path('profile_index') }}">Profil</a>
	<div>
		<div>
			<div _msttexthash="77766" _msthash="252">

				<h1>Hello
					{{ app.user.username }}!</h1>
				{% if app.user.photo %}
					<img src="{{ asset('uploads/' ~ app.user.photo) }}" alt="Photo de profil">
				{% else %}
					<p>Aucune photo de profil.</p>
				{% endif %}
			</div>
		</div>
		<div>
			<div>
				<p>écrire ici sa bio</p>
			</div>

			<div _msttexthash="52403" _msthash="256">
				<a href="{{ path('profile_modifier') }}" class="btn-primary">Modifier le profil</a>
			</div>
		</div>
	</div>
	<div>
		<p>Posts</p>
	</div>
	{% for post in posts %}
		<div>{{ post.userPost }}</div>
		<div>{{ post.post }}</div>
		<div>{{ post.createdAt|date('d/m/Y H:i') }}</div>

	{% endfor %}
{% endblock %}