{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center space-y-4">
		<img src="{{ asset('images/logo-mobile.jpg') }}" alt="Logo mobile">
		<h1 class="text-[15px] pl-14 pr-14 text-center">Ajoute ton grain de sel… ou verse la salière entière.</h1>
		<h2 class="text-[30px] pb-8">Inscrivez-vous</h2>
	</div>
	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm), {'attr': {'id': 'registrationForm'}}
	}}
	<div class="flex flex-col items-center space-y-4">
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword.first) }}
		{{ form_row(registrationForm.plainPassword.second) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="w-24 bg-[#FF1B1C] opacity-75 hover:opacity-100 text-white text-[12px] text-center py-1 rounded-full">S'inscrire</button>
	</div>
	{{ form_end(registrationForm) }}
	<h3 class="text-center pt-8 pb-4">Vous avez déjà un compte ?</h3>
	<div class="flex justify-center">
		<a href="{{ path('login') }}" class="w-24 text-white text-[12px] text-center py-1 rounded-full">Se connecter</a>
	</div>
	<script>
		document.querySelector("#registrationForm").addEventListener("submit", function (e) {
const error = document.querySelectorAll(".error-message");
let isValid = true;

const key = document.querySelector("registrationForm.plainPassword.first");
const keyRegex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/;
if (keyRegex.test(key.value)) {
error[0].textContent = "";
} else {
isValid = false;
error[0].textContent = "Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule et un chiffre.";
}
const keyConfirm = document.querySelector("registrationForm.plainPassword.second");
if (keyConfirm.value === key.value) {
error[1].textContent = "";
} else {
isValid = false;
error[1].textContent = "Les mots de passe doivent être identiques.";
}
if (! isValid) {
e.preventDefault();
}
});
	</script>

{% endblock %}{% endblock %}
